body{
    background: linear-gradient(107.66deg, #FEF759 38.95%, rgba(251, 102, 39, 0.7) 100.38%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
    height: 760px;
    font-family: Verdana;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-image: url(/static/56.png);
    padding: 15px;
    margin-top: 0;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.menu a{
    font-weight: bold;
}

ul{
    list-style: none;
    padding: 0;
    
}
p>a{
    text-decoration: none;
    color: black
}

li>p, li div{
    border: 1px solid #CCC;
    padding: 10px 20px;
}

p.title{
    margin: 0;
    font-weight: bold;
    background: gold;
}

p.title a{
    display: block;
}

p.title:hover{
    background: orange;
}

.annonce{
    margin-top: -1px;
    background: #FFF;
    margin-bottom: 40px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    color: black;

}

.flash{
    padding: 10px;
}

.flash.success{
    border: 1px solid #21db56;
    background: #aeffc5;
}

.flash.error{
    border: 1px solid #ff4343;
    background: #ff9c9c;
}
.text-delivery-p1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.text-delivery-ul{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.content{
    text-align: center;
    font-size: 18px;
}

.p1{
    color: aliceblue;

}

.action{
    text-align: center;
    font-size: 19.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.post {
    width: 98%;
}

.post-item{
    width: 33%;
    display:inline-block;
    justify-content: space-between;
    vertical-align: top;
}
li p{
    text-align: center;
}
h2{
    text-align: center;
}