{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="img-cover">
<div class="text-delivery">
    <div class="text-delivery-p1">
        <p1>Основные условия оказания услуги доставочной организацией.</p1>
    </div>
    <div class="text-delivery-ul">
        <ul>
            <li>Вы так же можете заказать доставку животных в клинику и обратно, в специально оборудованной машине для перевозок животных</li>
            <li>Доставка животных по городу осуществляется с 11:00 до 22:00.</li>
            <li>Стоимость доставки зависит от района в который необходимо доставить животного или забрать.Предварительную
                стоимость доставки Вы можете узнать позвонив на служебный телефон x-(xxx)-xxx-xx-xx</li>
        </ul>
    </div>
</div>
    </div>
{% endblock %}