{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="img-cover">
<div class="text-delivery">
    <div class="text-delivery-p1">
        <p1>Основные условия оказания услуги доставочной организацией.</p1>
    </div>
    <div class="text-delivery-ul">
        <ul>
            <li>Доставка товара по городу осуществляется с 11:00 до 22:00.</li>
            <li>Стоимость доставки зависит от района в который необходимо доставить товар.Предварительную
                стоимость товара Вы можете узнать позвоним на служебный телефон x-(xxx)-xxx-xx-xx</li>
        </ul>
    </div>
</div>
    </div>
{% endblock %}