{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="action">
    <p1>
        Новости
    </p1>
</div>
<div class="news-items">
    <div class="item">
        <div class="item-img">
            <p1>Моноблок Acer Hummingbird A24 оценен в 530 долларов</p1>
            <img src="/static/newsWindows.jpg" alt="" style="width: 500px;">
        </div>
    <div class="item-p">

        <p2>Компания Acer пополнила ассортимент моноблоков моделью Acer Hummingbird A24, которая получила новые чипы Intel Core тринадцатого поколения.
Пользователи смогут выбирать между 10-ядерным процессором Intel Core i5-13400 и 4-ядерным 8-поточным Core i3-13100.
Конфигурация с Core i5-13400, 16 ГБ оперативной памяти твердотельным накопителем вместимостью 512 ГБ оценена в 633 доллара, а с Core i3-13100 и 8/512 ГБ – 530 долларов.
Новинка также характеризуется поддержкой 2,5-дюймового жесткого диска, 23,8-дюймовым дисплеем с разрешением 1920:1080 пикселей, встроенными динамиками, а также интерфейсами USB-A, HDMI и RJ-45.
Цена версий составляет 530 и 633 доллара.</p2>
    </div>
    </div>
    <div class="item">
        <div class="item-img">
            <p1>Моноблок Acer Hummingbird A24 оценен в 530 долларов</p1>
            <img src="/static/Windows11.png" alt="" style="width: 500px;">
        </div>
    <div class="item-p">
            <p1>Последние сборки Windows 11 Insider Preview включают поддержку отказоустойчивой файловой системы (ReFS). Ранее Resilient File System была доступна только в серверных операционных системах Windows.
Windows 11 теперь будет поддерживать ReFS, отказоустойчивую файловую систему. Последние сборки Windows 11 Insider Preview на канале Dev теперь включают в себя эту поддержку. Ранее она была доступна только в серверных операционных системах Windows, но не в клиентских.</p1>
    </div>
    </div>
    <div class="item">
        <div class="item-img">
            <p1>Китайский производитель микросхем Loongson представляет новые процессоры iGPU на кристалле LS2K2000</p1>
            <img src="/static/Loongson.jpg" alt="" style="width: 500px;">
        </div>
        <div class="item-p">
            <p1>Когда речь заходит о китайских производителях процессором, многие пользователи с недоумением думают, что это какая-то шутка — ведь производят процессоры только Intel и AMD.
Но на самом деле это не совсем так, потому что на территории Китая уже есть несколько моделей процессоров, которые производятся внутри страны по своей собственной архитектуре. В данном случае производитель в лице Loongson не использует лицензированные технологии других производителей или разработчиков, что делает процессоры куда более привлекательными для локального рынка, ведь они абсолютно независимы от санкций и прочих неприятностей. И сегодня в сети появились новости о новой системе на чипе под названием Loongson LS2K2000, которая расширяет ассортимент производителя.</p1>
    </div>
    </div>
        <div class="item">
        <div class="item-img">
            <p1>Графический процессор протестировали на теплопроводность с кетчупом, картофелем, сыром и зубной пастой</p1>
            <img src="/static/Processor.jpg" alt="" style="width: 500px;">
        </div>
        <div class="item-p">
            <p1>Энтузиаст недавно расширил список термопаст для графического процессора, включив в него несколько интересных продуктов, начиная от обычной термопасты и заканчивая, сыром, кетчупом, зубной пастой, мазью от опрелостей и даже картофелем.
Первоначально пользователь намеревался протестировать различные типы термопаст, но решил перейти к другим веществам, что сделало интересным наблюдением при охлаждении графического процессора с использованием некоторых веществ, которые определенно небезопасны для этих целей
В тестовой системе использовался AMD Radeon R7 240 с TDP 30 Вт, с показаниями температуры после пятиминутного запуска Furmark. Таким образом, эти тесты не являются отличным примером в долгосрочной целесообразности использования картофеля для охлаждения видеочипа, поэтому очевидно - не пытайтесь повотрить это дома.
</p1>
    </div>
    </div>
</div>
{% endblock %}